# Sample S3 Configuration for hdbbackint
# This file should be located at /usr/sap/<SID>/SYS/global/hdb/opt/init<SID>.utl
# and the database passes to hdbbackint via the -p option.

SCI_endpoint=<S3 endpoint URL>
SCI_region=<eu-de-1, na-us-1, ap-au-1, la-br-1>
SCI_accessKey=YOUR_ACCESS_KEY
SCI_secretKey=YOUR_SECRET_KEY
SCI_bucketName=<Bucket_Name>

# Maintain the permissions of this file to ensure that only authorized users can read it, as it contains sensitive information.
# Optional: Specify a top-level folder within the bucket for all backups
# SCI_folderName=<Folder_Name>